<% form_for @question do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :bookmark_id %><br />
    <%= f.text_field :bookmark_id %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
