<h1>Question</h1>

<p>
  <strong>Body:</strong>
  <%=h @question.body %>
</p>
<p>
  <strong>User:</strong>
  <%=h @question.user_id %>
</p>
<p>
  <strong>Bookmark:</strong>
  <%=h @question.bookmark_id %>
</p>
<p>
  <strong>Count:</strong>
  <%=h @question.count %>
</p>

<p>
  <%= link_to "Edit", edit_question_path(@question) %> |
  <%= link_to "Destroy", @question, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", questions_path %>
</p>
