<br />
<div><a href="#comment_form" rel="facebox" class="comment">Post Comment</a></div>
<br />

<% if not @bookmark.comments.empty? %>
  <% #for comment in @bookmark.comments.reverse %>
  <% for comment in @bookmark.comments %>
    <div class="comment <%= comment.importance %>">
      <div style="width:620px; float:left; padding:0 0 0 20px;">
        <p class="info">
          <span class="title"><%= comment.title %></span> Posted <strong><%= comment.created_at.to_s(:long) %></strong> by 
          <strong><%= comment.user.nickname %></strong>
        </p>
        <%= markdown(comment.body) %>
      </div>
      <div class="author" style="width:80px; float:left; text-align:center; background:#FFFFFF; border:1px solid lightgray; -webkit-border-radius:5px; -moz-border-radius:5px">
        <%= image_tag comment.user.profile(:tiny) %>
      </div>
      <div class="clearer"></div>
    </div>
    
  <% end %>
<% else %>
  <p class="sosumi">Bookmark has no comments</p>
<% end %>

<div id="comment_form" style="display:none; width:700px;">  
  <% form_for :comment, :url => { :controller => "comments", :action => "create"} do |f| %>
    <p class="sosumi green"><strong>Title</strong></p>
    <p><%= f.text_field :title %></p><br />
    
    <p class="sosumi green">
      <strong>Importance</strong>
      <%= f.select( :importance, { "High" => "high", "Normal" => "normal", "Low" => "low" }, { :selected => "normal" }) %>
    </p>
    
    <br />
    
    <p class="sosumi green"><strong>Message</strong></p>
    <%= f.text_area :body, :cols => "95" %>
    <p>
      <% link_to 'Insert Code', '#', :onclick => "$('#facebox #comment_body').append('[code=#{highlight_lang(@bookmark.language.permalink)}][/code]'); $('#facebox #comment_body').focus();" %>
    </p>
    
    <%= hidden_field_tag (:bookmark_id, @bookmark.id) %>
    <p style="text-align:right; margin-top:10px;"><%= image_submit_tag ("/images/buttons/flat_submit.gif") %></p>
  <% end %>
  
</div>
