<% @bookmarks.each do |bookmark| %>
<div style="margin:auto; height:100px; padding:20px">

  <span style="float:left; margin-right:20px;"><% link_to bookmark.url do %><%= image_tag bookmark.thumb(:small) %><% end %></span>
  
  <div style="float:right; margin-left:20px;">
    <div class="sosumi" style="background:#004375; padding:5px 10px 5px 10px; color:#FFFFFF; -webkit-border-radius:5px; text-align:center">
      <%= bookmark.comments.count %> <% if bookmark.comments.count == 1 %>comment <% else %>comments<% end %>
    </div>
    <br />
    <div class="sosumi" style="background:#b8daf4; padding:5px 10px 5px 10px; color:#333333; -webkit-border-radius:5px; text-align:center">
      <%= bookmark.questions.count %> <% if bookmark.questions.count == 1 %>question <% else %>questions<% end %> answered 
    </div>
  </div>
  <p class="title">
    <%= link_to bookmark.title, bookmark_path(bookmark.language.permalink, bookmark) %>
  </p>
  <p class="description"><%= bookmark.description %></p>
  <p class="sosumi"><%= bookmark.topic_list %></p>
</div>
<div class="clearer"></div>

<hr />
<% end %>