<% content_for(:breadcrumbs) do %>
  <li><%= link_to 'Bookmarks', bookmarks_path %></li>
  <li>New</li>
<% end %>
<% content_for(:actions) do %>
  <li><%= link_to 'Cancel', bookmark_path(@bookmark.language.permalink, @bookmark.permalink) %></li>
  <li><%= link_to 'Back', bookmarks_path %></li>
<% end %>

<% form_for(@bookmark, :url => { :controller => 'bookmarks', :action => 'update', :id => @bookmark.id }) do |f| %>
  <%= f.error_messages %>
<fieldset class="common-form standard-form">
  <table border="0" cellspacing="5" cellpadding="5">
    <tr><th><%= f.label :title %></th><td><%= @bookmark.title %></td></tr>
    <tr><th><%= f.label :url %></th><td><%= f.text_field :url, :size => 70 %></td></tr>
    <tr><th style="vertical-align:top"><%= f.label :description %></th><td><%= f.text_area :description, :cols => 80, :rows => 10 %></td></tr>
    <tr><th><%= f.label 'Topics' %></th><td><%= f.text_field :topic_list, :size => 80 %></td></tr>
    <tr><th><%= f.label 'Question' %></th><td><%= f.text_field :question_list, :size => 80 %></td></tr>
    <tr><th></th><td><%= f.submit 'Update' %></td></tr>
  </table>
</fieldset>
<% end %>