<% content_for(:breadcrumbs) do %>
  <% if params[:lang] %>
  <li><%= link_to 'Bookmarks', bookmarks_path %></li>
  <li><%= @bookmarks.first.language.name if ! @bookmarks.first.nil? %></li>
  <% else %>
  <li>Recent Bookmarks</li>
  <% end %>
<% end %>
<% content_for(:actions) do %><%= link_to 'Create Bookmark', new_bookmark_path %><% end %>
<% content_for(:toolbar) do %>
  <% if session[:bookmark_content_length] == 0 %>
    <%= link_to_remote("+", :url => { :action => "inc_content_length" }, :collection => @bookmarks) %>
  <% elsif session[:bookmark_content_length] == 1 %>
    <%= link_to_remote("-", :url => { :action => "dec_content_length" }, :collection => @bookmarks) %>
    <%= link_to_remote("+", :url => { :action => "inc_content_length" }, :collection => @bookmarks) %>
  <% else %>
    <%= link_to_remote("-", :url => { :action => "dec_content_length" }, :collection => @bookmarks) %>
    <span>+</span>
  <% end %>
<% end %>

<% if params[:lang] %>
<h2>Listing bookmarks</h2>
<% else %>
<h1>Listing Recent Bookmarks</h1>
<% end %>

<% if ! @bookmarks.empty? %>
<div id="list">
  <%= render :partial => 'list' %>
</div>

<p id="position"><%= will_paginate @bookmarks, :id => 'pagination' %></p>

<% else %>

<p class="sosumi">No bookmarks</p>

<% end %>