<% content_for(:breadcrumbs) do %>
  <% if params[:lang] %>
  <li><%= link_to 'Bookmarks', bookmarks_path %></li>
  <li><%= @bookmarks.first.language.name if ! @bookmarks.first.nil? %></li>
  <% else %>
  <li>Recent Bookmarks</li>
  <% end %>
<% end %>
<% content_for(:actions) do %>
  <% if current_user %>
  <%= link_to 'Create Bookmark', new_bookmark_path, :class => 'addleft' %>
  <% end %>
<% end %>

<% if params[:language] %>
<h1 class="<%= params[:lang] %>"><%= @bookmarks.first.language.name if ! @bookmarks.first.nil? %> Bookmarks</h1>
<% else %>
<h1 class="bookmark_recent">Recent Bookmarks</h1>
<% end %>
<%= will_paginate @bookmarks, :id => 'pagination', :style => 'float:right; margin-top:-45px' %>
<div class="clearer"></div>
<% if ! @bookmarks.empty? %>

<div id="list">
  <%= render :partial => 'list' %>
</div>

<p id="position"><%= will_paginate @bookmarks, :id => 'pagination' %></p>

<% else %>

<p class="sosumi">No bookmarks</p>

<% end %>