<% content_for(:breadcrumbs) do %>
  <li><%= link_to 'Bookmarks', bookmarks_path %></li>
  <li><%= link_to @bookmark.language.name, bookmarks_path + "/#{@bookmark.language.permalink}" %></li>
  <li>Bookmarks</li>
<% end %>
<h1 class="bookmark_viewing">Viewing Bookmark</h1>
<% content_for(:actions) do %>
  <%= link_to 'Edit', edit_bookmark_path(@bookmark) %> | 
  <%= link_to 'Back', bookmarks_path %>
<% end %>

<p class="tag green">Title</p>
<p><%=h @bookmark.title %></p>

<p class="tag green">Url</p>
<p>
  <% if @url_status == "200" %>
    <%= link_to @bookmark.url, @bookmark.url, :style => "background:url(/images/icons/check.png) right no-repeat; padding:5px 30px 5px 0;" %>
  <% else %>
    <%= link_to @bookmark.url, @bookmark.url, :style => "background:url(/images/icons/minus.png) right no-repeat; padding:5px 30px 5px 0;" %>
  <% end %>
</p>

<p class="tag green">Tags</p>
<% if ! @bookmark.tag_list.empty? %>
<p class="sosumi"><%= @bookmark.tag_list %></p>
<% else %>
<p class="sosumi">Bookmark has no tags</p>
<% end %>

<% if @bookmark.description %>
<p class="tag green">Description</p>
<%= markdown(@bookmark.description) %>
<% end %>

<p><%= image_tag @bookmark.thumb(:large) %></p>
<%= render :partial => "comments" %>
