<% content_for(:section) do %>Viewing Bookmark<% end %>
<% content_for(:actionbar) do %>
  <%= link_to 'Edit', edit_bookmark_path(@bookmark) %> | 
  <%= link_to 'Back', bookmarks_path %>
<% end %>

<p class="tag green">Title</p>
<p><%=h @bookmark.title %></p>

<p class="tag green">Url</p>
<p><%= link_to @bookmark.url, @bookmark.url %></p>

<% if @bookmark.description %>
<p class="tag green">Description</p>
<p><%= @bookmark.description %></p>
<% end %>