<% content_for(:breadcrumbs) do %>
  <li><%= link_to 'Bookmarks', bookmarks_path %></li>
  <li><%= link_to @bookmark.language.name, bookmarks_path %></li>
  <li>Bookmarks</li>
<% end %>
<h2>Viewing Bookmark</h2>
<% content_for(:actions) do %>
  <%= link_to 'Edit', edit_bookmark_path(@bookmark) %> | 
  <%= link_to 'Back', bookmarks_path %>
<% end %>

<p class="tag green">Title</p>
<p><%=h @bookmark.title %></p>

<p class="tag green">Url</p>
<p>
  <%= link_to @bookmark.url, @bookmark.url %>
  
  <% if @url_status == "200" %>
    <span class="green" style="margin-left:30px; font-weight:bold">WORKING</span>
  <% else %>
    <span class="red" style="margin-left:30px; font-weight:bold">PROBLEM</span>
  <% end %>
</p>

<p class="tag green">Tags</p>
<p class="sosumi"><%= @bookmark.tag_list %></p>

<% if @bookmark.description %>
<p class="tag green">Description</p>
<p><%= markdown(@bookmark.description) %></p>
<% end %>

<%= render :partial => "comments" %>
