<% content_for(:breadcrumbs) do %>
  <li><%= link_to 'Bookmarks', bookmarks_path %></li>
  <li><%= link_to @bookmark.language.name, bookmarks_path + "/#{@bookmark.language.permalink}" %></li>
  <li>Bookmarks</li>
<% end %>

<% content_for(:actions) do %>
<% if admin? %>
  <li><%= link_to 'Edit', edit_bookmark_path(@bookmark) %></li>
<% end %>
  <li class="last"><%= link_to 'Back', :back %></li>
<% end %>

<h1 class="bookmark_viewing"><%=h @bookmark.title %> <span style="float:right"><a href="#report_form" rel="facebox" class="flag">Report This</a></span></h1>

<div style="width:450px; float:left; margin-right:20px">
  <% link_to @bookmark.url do %><%= image_tag @bookmark.thumb(:large), :style => 'border:1px #EFEFEF solid' %><% end %>
</div>

<% if @bookmark.description %>
  <h4>Description</h4>
  <%= markdown(@bookmark.description) %>
<% end %>

<p class="sosumi">Bookmarked <%= time_ago_in_words(@bookmark.created_at) %> ago</p>

<div class="clearer"></div>

<p style="text-align:right">
  <% if @url_status == true %>
    <% link_to @bookmark.url do %> <%= image_tag '/images/btn_go_to_site.png' %><% end %>
  <% else %>
    <% link_to @bookmark.url do %> <%= image_tag '/images/btn_go_to_site_red.png' %><% end %>
  <% end %>
</p>

<div class="clearer"></div>


<h2 class="section">Topics <span style="float:right"><a href="#topic_form" class="addleft" onclick="$('#topic_form').toggle()">Add Topic</a></span></h2>
<br />
<div id="topic_form" style="display:none">
  <p>FOO</p>
</div>
<div id="topics" style="margin-bottom:30px;">
  <% if ! @bookmark.topics.blank? %>
    <% @bookmark.topics.each do |topic| %>
      <%= link_to topic, url_for(:controller=>'search', :action=>'query', :query => "#{topic}"), :class => 'bubbleitem' %></span>
    <% end %>
  <% else %>
    <p class="sosumi">No topics have been tagged</p>
  <% end %>
</div>


<h2 class="section">Comments <% if current_user %><span style="float:right"><a href="#topic_form" class="addleft" onclick="$('#comment_form').toggle()">Add Comment</a></span><% end %></h2>
<br />
<% if current_user %>
  <div id="comment_form" style="display:none">
  <% form_for [@bookmark, Comment.new] do |f| %>
    <p>
      <%= f.text_area :body, :cols => '103', :rows => '4' %>
    </p>
    <p><%= f.submit 'Add Comment', :style => 'float:right' %></p>
    <div class="clearer"></div>
    <br />
  <% end %>
  </div>
<% end %>
<div id="comments">
  <% if ! @bookmark.comments.blank? %>
    <% @bookmark.comments.each do |comment| %>
      <%= render :partial => 'comment', :object => comment %>
    <% end %>
  <% else %>
    <p class="sosumi">No comments have been added</p>
  <% end %>
</div>


<div id="question_form" style="display:none">
  <% remote_form_for @bookmark, :url => { :controller => 'bookmarks', :action => 'post_question' } do |f| %>
    <h2 class="section">Add a Question</h2>
    <p class="sosumi">Please enter the question this bookmark helped you to answer. This helps others find the same solution.</p>
    <p class="sosumi green">Question</p>
    <%= text_field_tag :question %>
    <%= link_to 'Submit', bookmark_post_question_url %>
    <%= image_submit_tag '/images/buttons/create.png' %>
  <% end %>
</div>

<div id="report_form" style="display:none">
  <h2 class="prettyred section">Report Bookmark</h2>
  <fieldset class="common-form standard-form">
  <% remote_form_for :flag, :url => { :controller => 'flags', :action => 'create', :id => @bookmark.id, :type => 'bookmark' } do |f| %>
    <table border="0" cellspacing="5" cellpadding="5">
      <tr><th><%= f.label 'Reason' %></th><td><%= collection_select(:flag, :flag_category_id, FlagCategory.all, :id, :description, {:prompt => true}) %></td></tr>
      <tr><th>&nbsp;</th><td><br /><br /><%= f.submit 'Report', :onclick => '$.facebox.close();' %></td></tr>
    </table>
  <% end %>
  </fieldset>
</div>
