<h1 class="login">Log In</h1>

<% form_tag session_path do -%>
<p class="tag green"><%= label_tag 'login' %></p>
<p><%= text_field_tag 'login', @login %></p>

<p class="tag green"><%= label_tag 'password' %></p>
<p><%= password_field_tag 'password', nil %></p>

<p class="tag green"><%= check_box_tag 'remember_me', '1', @remember_me, :style => 'margin-right:10px;' %> <%= label_tag 'remember_me', 'Remember me' %></p>
<br />
<p><%= image_submit_tag '/images/buttons/login.png' %></p>
<% end -%>
