<% form_for @bookmark_import do |f| %>
  <%= f.error_messages %>
  <p class="tag green"><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>
  
  <p class="tag green"><%= f.label :url %></p>
  <p><%= f.text_field :url, :size => 105 %></p>
  
  <p class="tag green">Language</p>
  <p><%= collection_select :bookmark_import, :language_id, Language.find(:all, :order => 'name'), :id, :name, { :prompt => 'Select Language...' } %></p>
  
  <p class="tag green"><%= f.label :description %></p>
  <p><%= f.text_area :description, :cols => 103, :rows => 10 %></p>
  
  <p class="tag green"><%= f.label :tag_list %></p>
  <p><%= f.text_field :tag_list, :size => 80 %></p>
  
  <% if params[:action] == "new" %>
  <p><%= image_submit_tag "/images/buttons/create.png" %></p>
  <% elsif params[:action] == "edit" %>
  <p><%= image_submit_tag "/images/buttons/update.png" %></p>
  <% end %>
<% end %>
