<% content_for(:breadcrumbs) do %>
  <li><%= link_to 'Bookmarks', bookmarks_path %></li>
  <li>Imported Bookmarks</li>
<% end %>
<% content_for(:actions) do %>
  <li><%= link_to 'Import', import_bookmarks_path %></li>
<% end %>
<% content_for(:commands) do %>
  <li><%= link_to 'Import Approved', bookmarks_path, :class => 'arrow' %></li>
<% end %>

<h2>Imported Bookmarks</h2>
<% if ! @bookmark_imports.blank? %>
<table class="bookmark_imports interactive">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Url</th>
    <th style="text-align:center">Status</th>
  </tr>
  <% for bookmark in @bookmark_imports %>
    <tr id="row<%= bookmark.id %>" class="<%= cycle('odd', 'even')%>">
      <td style="width:50px; vertical-align:center; text-align:center">
        <%= link_to_remote 'delete', :url => {:controller => "bookmark_imports", :action => "destroy", :id => bookmark }, :html => {:class => "delete"}, :method => :delete %>

        
      </td>
      <td onclick="location.href='<%= bookmark_import_path(bookmark) %>'"><%=h truncate(bookmark.title, 60, "...") %></td>
      <td onclick="location.href='<%= bookmark_import_path(bookmark) %>'"><%=h truncate(bookmark.url, 80, "...") %></td>
      <td>
        <% if ! bookmark.title.blank? && ! bookmark.url.blank? && ! bookmark.language_id.blank? && ! bookmark.description.blank? && ! bookmark.tag_list.blank? %>
          <div style="width:80px; height:20px; background:url(/images/icons/check.png) 50% no-repeat;"></div>
        <% else %>
          <div style="width:80px; height:20px; background:url(/images/icons/warning.gif) 50% no-repeat;"></div>
        <% end %>
      </td>
    </tr>
  <% end %>
  
  
</table>
  <%= will_paginate @bookmarks %>
<% else %>
  <p class="sosumi">You have no bookmarks to sanitize. <%= link_to "Import bookmarks", bookmark_import_path %></p>
<% end %>
