<% content_for(:breadcrumbs) do %>
  <li><%= link_to 'Bookmarks', bookmarks_path %></li>
  <li><%= link_to 'Imported Bookmarks', bookmark_imports_path %></li>
  <li>Bookmarks</li>
<% end %>
<% content_for(:actions) do %>
  <li><%= link_to "Edit", edit_bookmark_import_path(@bookmark_import) %></li>
  <li><%= link_to "Delete", @bookmark_import, :confirm => 'Are you sure?', :method => :delete %></li>
  <li class="last"><%= link_to "View All", bookmark_imports_path %></li>
<% end %>
<% content_for(:commands) do %>
  <li><%= link_to 'Make Live', convert_bookmark_path, :class => 'arrow' %></li>
<% end %>
<h2>Viewing Imported Bookmark</h2>

<% if ! @errors.blank? %>
<div id="errorExplanation">
  <h2>Problems Detected</h2>
  <p>The following problems are preventing this bookmark from being made live</p>
  <ul>
    <% for error in @errors %>
      <li><%= error %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p class="tag green">Title</p>
<p><%=h @bookmark_import.title %></p>

<p class="tag green">Url</p>
<p>
  <%= link_to @bookmark_import.url, @bookmark_import.url %>
  
  <% if @url_status == "200" %>
    <span class="green" style="margin-left:30px; font-weight:bold">WORKING</span>
  <% elsif @url_status == "301" %>
    <span class="orange" style="margin-left:30px; font-weight:bold">OK</span>
  <% else %>
    <span class="red" style="margin-left:30px; font-weight:bold">PROBLEM</span>
  <% end %>
</p>

<p class="tag green">Language</p>
<% if ! @bookmark_import.language.blank? %>
<p><%=h @bookmark_import.language.name %></p>
<% else %>
<p class="sosumi red">No language specified</p>
<% end %>

<p class="tag green">Tags</p>
<% if ! @bookmark_import.tag_list.blank? %>
<p class="sosumi"><%= @bookmark_import.tag_list %></p>
<% else %>
<p class="sosumi red">No tags specified</p>
<% end %>

<p class="tag green">Description</p>
<% if @bookmark_import.description %>
<p><%= markdown(@bookmark_import.description) %></p>
<% else %>
<p class="sosumi red">No description specified</p>
<% end %>

