<% content_for(:breadcrumbs) do %>
  <li><%= link_to 'Bookmarks', bookmarks_path %></li>
  <li><%= link_to 'Imported Bookmarks', bookmark_imports_path %></li>
  <li>Bookmarks</li>
<% end %>
<% content_for(:actions) do %>
  <li><%= link_to "Edit", edit_bookmark_import_path(@bookmark_import) %></li>
  <li><%= link_to "Delete", @bookmark_import, :confirm => 'Are you sure?', :method => :delete %></li>
  <li class="last"><%= link_to "View All", bookmark_imports_path %></li>
<% end %>
<% content_for(:commands) do %>
  <li><%= link_to 'Make Live', convert_bookmark_path, :class => 'arrow' %></li>
<% end %>

<h1>Viewing Imported Bookmark</h1>

<% if ! @errors.blank? %>
<div id="errorExplanation">
  <h2>Problems Detected</h2>
  <p>The following problems are preventing this bookmark from being made live</p>
  <ul>
    <% for error in @errors %>
      <li><%= error %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p class="tag green">Title</p>
<p><%=h @bookmark_import.title %></p>

<p class="tag green">Url</p>
<p>
  <% if @url_status == true %>
    <%= link_to @bookmark_import.url, @bookmark_import.url, :style => "background:url(/images/icons/check.png) right no-repeat; padding:5px 30px 5px 0;" %>
  <% else %>
    <%= link_to @bookmark_import.url, @bookmark_import.url, :style => "background:url(/images/icons/minus.png) right no-repeat; padding:5px 30px 5px 0;" %>
  <% end %>
</p>

<p class="tag green">Language</p>
<% if ! @bookmark_import.language.blank? %>
<p><%=h @bookmark_import.language.name %></p>
<% else %>
<p class="sosumi red">No language specified</p>
<% end %>

<p class="tag green">Topics</p>
<% if ! @bookmark_import.topic_list.blank? %>
<p class="sosumi"><%= @bookmark_import.topic_list %></p>
<% else %>
<p class="sosumi red">No topics specified</p>
<% end %>

<p class="tag green">Questions</p>
<% if ! @bookmark_import.question_list.blank? %>
<p class="sosumi"><%= @bookmark_import.question_list %></p>
<% else %>
<p class="sosumi red">No topics specified</p>
<% end %>

<p class="tag green">Description</p>
<% if @bookmark_import.description %>
<p><%= markdown(@bookmark_import.description) %></p>
<% else %>
<p class="sosumi red">No description specified</p>
<% end %>

