<% content_for(:breadcrumbs) do %>
  <li><%= link_to 'Administration', administration_path %></li>
  <li>Users</li>
<% end %>
<h2>Users</h2>

<table id="interactive" style="width:100%">
  <thead>
		<tr>
		  <th>&nbsp;</th>
		  <th>Name</th>
		  <th>Username</th>
		  <th>Email</th>
		  <th>Group</th>
		</tr>
	</thead>
	<tbody>
	  <% for user in @users %>
		<tr class="noborder"><td colspan="4">&nbsp;</td></tr>
		<tr class="<%= cycle("odd", "even") %>" onclick="window.location='<%= user_path(user)%>'">
			<td><%= image_tag user.gravatar_url(:size => 40) %></td>
  		<td><%= user.firstname %> <%= user.lastname %></td>
  		<td><%= user.nickname %></td>
  		<td><%= user.email %></td>
  		<td><% if admin? %>Administrator<% else %>User<% end %></td>
		</tr>
		<% end %>
	</tbody>	
</table>