<% content_for(:breadcrumbs) do %>
  <li><%= link_to 'Administration', administration_path %></li>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= @user.nickname %></li>
<% end %>
<h2 class="users">Users</h2>
<br />
<table>
	<tr>
	  <td style="vertical-align:top; width:300px">
			<%= image_tag @user.gravatar_url(:size => 200) %>
		</td>
		<td style="width:500px; vertical-align:top;">
			<p class="tag green">Name</p>
			<p><%= @user.firstname %> <%= @user.lastname %></p>
			<p class="tag green">Email</p>
			<p><a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
			<div id="timestampbox" style="margin-top:50px">
      	Created : <%= @user.created_at.to_s(:long) %><br>
      	Updated : <%= @user.updated_at.to_s(:long) %>
      </div>
		</td>
	</tr>
</table>