<% content_for :breadcrumbs do %>
  <li>Settings</li>
<% end %>
<% content_for :actions do %>
  <li class="last"><%= link_to 'Back', :back %></li>
<% end %>

<h1>Settings</h1>

<p class="sosumi">* All fields are required</p>
<fieldset class="common-form standard-form">
  <% form_for @user do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <th><%= f.label :firstname %></th>
        <td><%= f.text_field :firstname %></td>
      </tr>
      <tr>
        <th><%= f.label :lastname %></th>
        <td><%= f.text_field :lastname %></td>
      </tr>
      <tr>
        <th><%= f.label :email %></th>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <th><%= f.label :password %></th>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation %></th>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
    </table>
    <br />
    <p style="margin-left:139px"><%= f.submit "Save" %></p>
  <% end %>
</fieldset>