<% content_for(:breadcrumbs) do %>
  <li><%= link_to 'Administration', administration_path %></li>
  <li>Users</li>
<% end %>
<h2 class="users">Users</h2>

<table class="interactive">
  <thead>
  	<tr>
  	  <th style="min-width:80px"></th>
  	  <th style="min-width:100px;">Name</th>
  	  <th style="min-width:100px;">Username</th>
  	  <th style="min-width:250px;">Email</th>
  	</tr>
	</thead>
	<tbody>
  <% for user in @users %>
	<tr class="<%= cycle("odd", "even") %>" onclick="window.location='<%= user_path(user)%>'">
	  <td><%= image_tag user.profile.url(:tiny) %></td>
		<td><%= user.name %></td>
		<td><%= user.login %></td>
		<td><%= user.email %></td>
	</tr>
  <% end %>
  </tbody>
</table>