<li id="bookmarks">
  <%= link_to 'Bookmarks', bookmarks_path %> <%= link_to "&nbsp;", "#", :id => "bookmark_toggle", :class => 'inactive', :onclick => "guideMenu('guides'); return false;" %>
  <div id="guides" class="flyout clearfix" style="display:none;">
    <hr /> 
    <dl class="L">
      <dt>Main Areas</dt>
      <% if current_user %>
      <dd><%= link_to 'Imported Bookmarks', bookmark_imports_path %></dd>
      <dd><%= link_to 'Import Bookmarks', import_bookmarks_path %></dd>
      <dt>Help</dt>
      <dd><%= link_to 'Tools For Importing', '#' %></dd>
      <dd><%= link_to 'Importing Guide', '#' %></dd>
      <% end %>
      <dt>Feeds</dt>
      <dd><%= link_to 'View Available Feeds', '#' %></dd>
      <dd><%= link_to 'New', '#', :class => 'rss' %></dd>
      <dd><%= link_to 'Popular', '#', :class => 'rss' %></dd>
    </dl>
    <dl class="R">
      <dt>Categories</dt>
      <%= render :partial => 'languages/lang_nav' %>
    </dl>
  </div>
</li>
<li id="jots"><%= link_to 'Jots', jots_path %></li>
<% if admin? %>
<li id="administration"><%= link_to 'Administration', administration_path %></li>
<% end %>
<% if current_user %>
<li><%= link_to 'Logout', logout_path %></li>
<% else %>
<li id="login"><%= link_to 'Login', login_path %></li>
<% end %>