<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=1024">
	<title>PRB</title>

	<%= stylesheet_link_tag "base" %>
	<%= stylesheet_link_tag "iphone" %>
	<%= stylesheet_link_tag "features" %>
  <%= stylesheet_link_tag "standard" %>
	<%= stylesheet_link_tag "nav" %>
  <%= stylesheet_link_tag "admin" %>
</head>
<body class="features" id="<%= @page_section %>">
  <div id="wrap">
    <div id="header">
      <div id="logo"></div>
      <div id="sessioninfo">
        <%= render :partial => 'layouts/sessioninfo' %>
      </div>
      <div class="clearer"></div>
      <div id="gnav">
        <ul class="<%= params[:controller] %>">
          <%= render :partial => 'layouts/nav' %>
        </ul>
      </div>
    </div>
    <div id="toolbar">
      <ul id="breadcrumbs">
        <li id="home"><%= link_to '&nbsp;', root_url, :class => 'home' %></li>
        <%= yield :breadcrumbs %>
      </ul>
      <ul id="actions">
        <%= yield :actions %>
      </ul>
    </div>
  	<div id="mmain" class="clearfix">
      <div id="container">
      	<div id="main">
      		<div id="main_wrap">
      			<div id="content">
      				<%= yield %>
      			</div><!--/content-->
      			<div id="featuresnav">
          <ul id="features_main" class="<%= params[:controller] %>-<%= params[:action] %>">
            <li id="f-dashboard">
              <% link_to administration_path do %><img src="/images/admin/icons/dashboard.png" alt="" width="25" height="25"> Dashboard<% end %>
            </li>
            <li id="f-tools">
              <% link_to administration_tools_path do %><img src="/images/admin/icons/tools.png" alt="" width="25" height="25"> Tools<% end %>
            </li>
            <li id="f-reports">
              <% link_to administration_reports_path do %><img src="/images/admin/icons/reports.png" alt="" width="25" height="25"> Reports<% end %>
            </li>
            <li id="f-databases">
              <% link_to administration_databases_path do %><img src="/images/admin/icons/databases.png" alt="" width="25" height="25"> Databases<% end %>
            </li>
            <li id="f-users">
              <% link_to '#' do %><img src="/images/admin/icons/users.png" alt="" width="25" height="25"> Users<% end %>
            </li>
            <li id="f-webserver">
              <% link_to '#' do %><img src="/images/admin/icons/webserver.png" alt="" width="25" height="25"> WebServer<% end %>
            </li>
            <li id="f-system">
              <% link_to '#' do %><img src="/images/admin/icons/system.png" alt="" width="25" height="22"> System<% end %>
            </li>
            <li id="f-notifications">
              <% link_to '#' do %><img src="/images/admin/icons/notifications.png" alt="" width="25" height="25"> Notifications<% end %>
            </li>
            <li id="f-updates">
              <% link_to '#' do %><img src="/images/admin/icons/softwareupdate.png" alt="" width="25" height="25"> Updates<% end %>
            </li>
            <li id="f-calendars">
              <% link_to '#' do %><img src="/images/admin/icons/calendars.png" alt="" width="25" height="25"> Calendars<% end %>
            </li>
            <li id="f-docs">
               <% link_to '#' do %><img src="/images/admin/icons/docs.png" alt="" width="25" height="25"> Docs<% end %>
            </li>
            <li id="f-backups">
              <% link_to '#' do %><img src="/images/admin/icons/backups.png" alt="" width="25" height="25"> Backups<% end %>
            </li>
            <li id="f-maintenance">
              <% link_to '#' do %><img src="/images/admin/icons/maintenance.png" alt="" width="25" height="25"> Maintenance<% end %>
            </li>
          </ul>
          <h2>Monitors</h2> 
          <ul id="features_supp">
            <li id="fn-wireless"><%= link_to 'Estimates', "estimates" %></li>
            <li id="fn-multitouch"><a href="/iphone/features/multitouch.html">Jobs</a></li>
            <li id="fn-gps"><a href="/iphone/features/gps.html">Orders</a></li>
            <li id="fn-accelerometer"><a href="/iphone/features/accelerometer.html">Customers</a></li>
            <li id="fn-sensor"><a href="/iphone/features/sensors.html">Clients</a></li>
          </ul>
      		</div><!--/main_wrap-->
      	</div><!--/main-->
      	<div id="main_bottom"></div>
      </div><!--/container-->
    </div>
  </div>
</div>
<div id="footer">
<%= render :partial => 'layouts/footer' %>
</div>
</body>
</html>