<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html> 
<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	<title>InPress Administration</title>

	<%= stylesheet_link_tag "base.css" %>
	<%= stylesheet_link_tag "corporate/standard.css" %>
	<%= stylesheet_link_tag "nav.css" %>
	<%= stylesheet_link_tag "admin.css" %>

	<%= javascript_include_tag :defaults %>	
	<%= javascript_include_tag "applesearch.js" %>
	<%= javascript_include_tag "facebox.js" %>
 
</head> 
<body class="business theater" id="theater">
	<div style="background:#222; width:100%; height:22px; text-align:right; font-size:10px; color:#FFF; line-height:2em;">
	  	<div style="width:95%; margin:auto;">
			<span style="font-weight:bold; margin-right:10px;"><%= '['+current_user.firstname+' '+current_user.lastname+']' %></span>
			<a href="/">Main Site</a> | <a href="#">Settings</a> | <a href="/logout">Log Out</a> 
			<a href="#version_info" style="margin-left:10px;" rel="facebox">Development</a>
	  	</div>
	</div>
	<div id="tabnav">
	  	<ul class="<%= params[:controller] %>">
			<li id="gnav-dashboard"><a href="/">Dashboard</a></li>
			<li id="gnav-time"><a href="/time/">Time</a></li>
			<li id="gnav-jobs"><a href="/jobs/">Jobs</a></li>
			<li id="gnav-orders"><a href="/orders/">Orders</a></li>
			<li id="gnav-estimates"><a href="/estimates/">Estimates</a></li>
			<li id="gnav-customers"><a href="/customers/">Customers</a></li>
			<li id="gnav-system"><a href="/system/">System</a></li>
		</ul>
	  </div>
<div id="globalheader" class="home"> 
		<ul class="<%= params[:controller] %>" id="globalnav">
			<li id="gnav-dashboard"><a href="/">Dashboard</a></li>
			<li id="gnav-time"><a href="/time/">Time</a></li>
			<li id="gnav-jobs"><a href="/jobs/">Jobs</a></li>
			<li id="gnav-orders"><a href="/orders/">Orders</a></li>
			<li id="gnav-estimates"><a href="/estimates/">Estimates</a></li>
			<li id="gnav-customers"><a href="/customers/">Customers</a></li>
			<li id="gnav-system"><a href="/system/">System</a></li>
		</ul>
  </div>
    
 	<div id="globalsearch"> 
		<form action="#" method="post" class="search" id="g-search"> 
			<input type="hidden" value="utf-8" name="oe" id="search-oe"> 
			<input type="hidden" value="p" name="access" id="search-access"> 
			<input type="hidden" value="us_only" name="site" id="search-site"> 
			<input type="hidden" value="lang_en" name="lr" id="search-lr"> 
			<label for="sp-searchtext"><span class="prettyplaceholder">Search</span><input type="search" name="q" id="sp-searchtext" class="g-prettysearch applesearch" placeholder="Search..." autosave="applestyle_srch" results="5" accesskey="s"></label> 
		</form> 
		<div id="sp-results"><div class="inside"></div></div> 
	</div>  
</div> 
<div class="clearer"></div> 
	<div id="top"></div> 
	<div id="container"> 
		<div id="main"> 
 
			<div id="content"> 
				<div class="swap-container"> 
					<div class="cap top"></div> 
					<div id="swap" class="loading"> 
					</div> 
					<div id="subnav"> 
 
						<div class="type" id="tour"> 

							<h2>Quick Tours</h2> 
							<div class="column first"> 
								<div class="category"> 
									<ul> 
										<li class="item" id="webservices"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_web-services_20081218_r640-10cie.mov">Web Services</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="remotemanagement"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_remote-management_20081218_r640-10cie.mov">Remote Management</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="activedirectoryadmin"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_active-directory-admin_20081218_r640-10cie.mov">Active Directory Administration</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="activedirectoryintro"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_active-directory-intro_20081218_r640-10cie.mov">Active Directory Introduction</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										
										<li class="item" id="opendirectory"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_open-directory_20081218_r640-10cie.mov">Open Directory</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="directoryservices"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_directory-services-intro_20081208_r640-10cie.mov">Directory Services Introduction</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="vpnfirewall"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_vpn-firewall_640x400.mov">VPN and Firewall</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="podcastcreate"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_create&amp;capture_640x400.mov">Podcast Producer: Create&nbsp;and&nbsp;Capture</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="podcastadmin"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_admintools_640x400.mov">Podcast Producer: Administration Tools</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="podcastconsumption"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_consumption_640x400.mov">Podcast Producer: Consumption</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="directoryapp"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_directory-app_640x400.mov">Directory Application</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="adminwikiserver"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_admin-wiki_640x400.mov">Administering Wiki Server</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="usingwikiserverserver"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_using-wiki_640x400.mov">Using Wiki Server</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="icalserver"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_ical-server_640x400.mov">iCal Server</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="spotlightserver"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_spotlight-server_640x400.mov">Spotlight Server</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="autoclientsetup"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_auto-client-setup_640x400.mov">Auto Client Setup</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="managingserver"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_mgmnt_640x400.mov">Managing your Server</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
										<li class="item" id="setupandadmin"> 
											<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/quicktours/quicktour_leopardserver_intro_640x400.mov">Setup and Administration</a></span> 
											<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
										</li> 
									</ul> 
								</div> 
							</div><!--/column--> 
						</div><!--/tour-->
						
						<div class="type" id="tips"> 
							
							<h2>Quick Tips</h2> 
							<div class="column first"> 
								<div class="grid3col"> 
									<div class="column first"> 
										<div class="category"> 
											<ul> 
												<li class="item" id="finderpathbar"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_finder-path-bar_20081212_r640-10cie.mov">Finder Path Bar</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="managingmultiplewindows"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_close-all-windows_20081212_r640-10cie.mov">Managing Multiple Windows</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="customizingkeyboard"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_customize-keyboard-shortcuts_20081212_r640-10cie.mov">Customizing Keyboard Shortcuts</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="securingpdfs"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_secure_pdfs_20081212_r640-10cie.mov">Securing PDFs</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="mightymousecustom"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_mighty-mouse-customization_20081212_r640-10cie.mov">Mighty Mouse Customization</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="multipleaccountsmail"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_multiple_accounts_in_mail_20081212_r640-10cie.mov">Multiple Accounts in Mail</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="bccinmail"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_bcc-in-mail_20081212_r640-10cie.mov">BCC in Mail</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="selectmailmessages"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_select_all_messages_in_mail_20081212_r640-10cie.mov">Select All Mail Messages</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="multipletabs"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_bookmark-multiple-tabs_20081212_r640-10cie.mov">Bookmark Multiple Tabs</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="windowsbetweenspaces"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_move-all-windows-to-new-space_20081212_r640-10cie.mov">Move Windows Between Spaces</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="specialcharacters"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_special-characters_20080721_640x400.mov">Special Characters</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="volumeadjustments"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_volume-adjustments_20080721_640x400.mov">Volume Adjustments</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="helppointers"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_using-help_20080721_640x400.mov">Help Pointers</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												
												<li class="item" id="guestaccess"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_guest-account_20080721_640x400.mov">Give Guests Access</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="shortcutsexplained"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_keyboard-shortcuts_20080721_r640-10cie.mov">Shortcuts Explained</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="booleansearches"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_spotlight-searching_20080721_r640-10cie.mov">Boolean Spotlight Searches</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="organizingrss"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_organizing-rss_20080721_r640-10cie.mov">Organizing RSS</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="downloadsource"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_download-source_20080721_r640-10cie.mov">Download Source</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="spaces"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_spaces_20080721_r640-10cie.mov">Organize Your Workspaces</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="draggingfiles"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_dragging_20080721_r640-10cie.mov">Dragging Files</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="lockingfiles"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_locking-files_20080721_r640-10cie.mov">Locking Files</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="smartfolders"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_smart-folders_20080721_r640-10cie.mov">Smart Folders</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="photoedits"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_photo-edits_20080721_r640-10cie.mov">Easy Photo Edits</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="multipleburns"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_multi-session-disks_20080721_r640-10cie.mov">Multiple Burns</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="listsinmail"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_lists-in-mail_20080721_r640-10cie.mov">Lists in Mail</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="optimizingbattery"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_optimizing-battery_20080721_r640-10cie.mov">Battery Optimization</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
											</ul> 
										</div> 
									</div><!--/column--> 
 
									<div class="column"> 
										<div class="category"> 
											<ul> 
												
												<li class="item" id="restrictingspotlight"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_restricting-spotlight_20080721_r640-10cie.mov">Restricting Spotlight</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												
												<li class="item" id="restrictingtimemachine"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_restricting-time-machine_r640-10cie.mov">Restrict Time Machine</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="safariautoclick"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_safari-auto-click_r640-10cie.mov">One Click, Multiple Tabs</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="mergepdf"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_merging-pdfs_r640-10cie.mov">Merge PDFs With Ease</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="deletingsecurely"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_deleting-securely_r640-10cie.mov">Deleting Securely</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												
												<li class="item" id="keyboardviewer"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_keyboard-tips-viewer_20080711_r640-10cie.mov">Keyboard Viewer</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												
												<li class="item" id="managingbrowsertabs"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_tabbedwindowssafari_20080331_r640-10cie.mov">Managing Browser Tabs</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="annotatingpdfs"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_annotatingpdffiles_20080331_r640-10cie.mov">Annotating PDFs</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="ichatfiletransfer"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_ichatfiletransfer_20080331_r640-10cie.mov">iChat File Transfer</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="pdfsafari"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_safariandpdfs_20080331_r640-10cie.mov">PDFs in Safari</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="searchingdictionary"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_searchingdictionary_20080331_r640-10cie.mov">Searching the Dictionary</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="domoresearch"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_spotlight_20080331_r640-10cie.mov">Do More Than Search</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="exportingpresentation"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_savingpresentations_20080331_r640-10cie.mov">Exporting Presentation</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="rssinmail"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_rssinmail_20080331_r640-10cie.mov">RSS in Mail</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="takequicklook"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/apple_business_tips_takeaquicklook_r640-10cie.mov">Take a Quick Look</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="sharingscreens"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/apple_business_tips_sharingscreens_r640-10cie.mov">Sharing Screens</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="shortstack"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/apple_business_tips_shortstack_r640-10cie.mov">Short Stack</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="defaultapps"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/apple_business_tips_settingdefaultapplications_r640-10cie.mov">Setting Default Applications</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="todos"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/apple_business_tips_creatingtodos_r640-10cie.mov">Creating To-Do's</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="restoringsafari"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/apple_business_tips_restoringsafarisessions_r640-10cie.mov">Restoring Safari Sessions</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="manipulatingpdfs"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/apple_business_tips_manipulatingpdfs_r640-10cie.mov">Manipulating PDFs</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="mapsaddressbook"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/apple_business_tips_mapsinaddressbook_r640-10cie.mov">Maps in Address Book</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="ichattransfer"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/apple_business_tips_ichatbonjourfiletransfer_r640-10cie.mov">iChat Bonjour File Transfer</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="maildata"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/apple_business_tips_maildatadetectors_r640-10cie.mov">Mail Data Detectors</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="picturepresentation"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_picturesinpresentations_20080721_r640-10cie.mov">Pictures in presentations</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												
											</ul> 
										</div> 
									</div><!--/column--> 
									<div class="column last"> 
										<div class="category"> 
											<ul> 
												<li class="item " id="privatebrowsing"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_privatebrowsing_20080721_r640-10cie.mov">Private web browsing</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="shapesize"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_shapesizing_20080721_r640-10cie.mov">Shapes: Place and Size</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="deletekey"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/delete_key_20071002.mov">Deleting Forward</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												
												<li class="item" id="fillshapes"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_fillshapesimage_20080721_r640-10cie.mov">Fill shapes with any image</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="keynoteprint"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_keynoteprintmenu_20080721_r640-10cie.mov">Keynote Print Menu</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="draganddrop"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_dragandropmailmerging_20080721_r640-10cie.mov">Drag and drop mail merging</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="zoomingoffice"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_zoomingmsoffice_20080721_r640-10cie.mov">Zooming in Microsoft Office</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="customstyle"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_customstyle_20080721_r640-10cie.mov">Custom style</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="pasteperfect"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_pasteperfect_20080721_r640-10cie.mov">Paste it perfect</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="organizingfiles"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_organizefiles_20080721_r640-10cie.mov">Organizing Files in Finder</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="surffaster"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_surffaster_20080721_r640-10cie.mov">Surf Faster</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="mediabrowser"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_mediabrowser_20080721_r640-10cie.mov">Media Browser</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="picturesemail"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_picturesinmail_20080721_r640-10cie.mov">Pictures in email</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="powerpointkeynote"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_powerpointtokeynote_20080721_r640-10cie.mov">PowerPoint to Keynote</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="accessingcolor"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_favoritecolors_20080721_r640-10cie.mov">Accessing Favorite Colors</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="nosquinting"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_nosquinting_20080721_r640-10cie.mov">No More Squinting</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="keynotedistance"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_keynotedistance_20080721_r640-10cie.mov">Keynote at a Distance</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="snapshotsscreen"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_screensnapshot_20080721_r640-10cie.mov">Snapshots of Your Screen</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="perfectword"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_perfectword_20080721_r640-10cie.mov">That Perfect Word</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="settingfonts"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_favoritefonts_20080721_r640-10cie.mov">Setting Favorite Fonts</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="customizingfinder"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_customizefinder_20080721_r640-10cie.mov">Customizing Finder</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="multipleinspectors"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_multipleinspectors_20080721_r640-10cie.mov">View Multiple Inspectors</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="createpdfs"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_createpdf_20080721_r640-10cie.mov">Easily Create PDFs</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
												<li class="item" id="presentationsuninterrupted"> 
													<span><a class="movielink" href="http://movies.apple.com/movies/us/apple/business/tips/2008/apple_business_tips_uninterruptedpresentations_20080721_r640-10cie.mov">Presentations Uninterrupted</a></span> 
													<div class="poster">src="http://images.apple.com/business/theater/images/qt_endstate.jpg"</div> 
												</li> 
										</ul> 
										</div> 
									</div><!--/column--> 
								</div><!--/grid3col--> 
							</div><!--/column--> 
						</div><!--/tips--> 
 
						
					</div> 
					<div class="clear cap bottom"></div> 
				</div><!--/swap-container--> 
 
		</div><!--/main--> 
	</div><!--/container--> 
	<div id="globalfooter" class="gf-980"> 
		<div id="breadcrumbs"><a href="/" class="home">Home</a><span>&gt;</span><a href="/business/">Business</a><span>&gt;</span>Theater</div> 
		<div id="directorynav" class="mac"> 
	<div id="dn-cola" class="column first"> 
		<h3>Considering a Mac</h3> 
		<ul> 
			<li><a href="/getamac/whymac/">Why you&rsquo;ll love a Mac</a></li> 
			<li><a href="/getamac/whichmac/">Which Mac are you?</a></li> 
			<li><a href="/getamac/faq/">FAQs</a></li> 
			<li><a href="/getamac/ads/">Watch the ads</a></li> 
		</ul> 
 
		<h3>Find out how</h3> 
		<ul> 
			<li><a href="/findouthow/mac/">Mac Basics</a></li> 
			<li><a href="/findouthow/photos/">Photos</a></li> 
			<li><a href="/findouthow/movies/">Movies</a></li> 
			<li><a href="/findouthow/web/">Web</a></li> 
			<li><a href="/findouthow/music/">Music</a></li> 
			<li><a href="/findouthow/iwork/">iWork</a></li> 
			<li><a href="/findouthow/mobileme/">MobileMe</a></li> 
		</ul> 
	</div><!--/dn-cola--> 
	<div id="dn-colb" class="column"> 
		<h3>Macs</h3> 
		<ul> 
			<li><a href="/macpro/">Mac Pro</a></li> 
			<li><a href="/macmini/">Mac mini</a></li> 
			<li><a href="/macbook/">MacBook</a></li> 
			<li><a href="/macbookpro/">MacBook Pro</a></li> 
			<li><a href="/macbookair/">MacBook Air</a></li> 
			<li><a href="/macbook/white/">MacBook White</a></li> 
			<li><a href="/imac/">iMac</a></li> 
		</ul> 
		<h3>Accessories</h3> 
		<ul> 
			<li><a href="/mightymouse/">Mighty Mouse</a></li> 
			<li><a href="/keyboard/">Keyboard</a></li> 
			<li><a href="/displays/">LED Cinema Display</a></li> 
			<li><a href="/displays/cinema/">Cinema Displays</a></li> 
		</ul> 
		</div><!--/dn-colb--> 
	<div id="dn-colc" class="column"> 
		<h3>Wi-Fi Base Stations</h3> 
		<ul> 
			<li><a href="/airportexpress/">AirPort Express</a></li> 
			<li><a href="/airportextreme/">AirPort Extreme</a></li> 
			<li><a href="/timecapsule/">Time Capsule</a></li> 
			<li><a href="/wifi/">Which Wi-Fi are you?</a></li> 
		</ul> 
		<h3>Servers</h3> 
		<ul> 
			<li><a href="/server/">Servers Overview</a></li> 
			<li><a href="/xserve/">Xserve</a></li> 
			<li><a href="/xsan/">Xsan</a></li> 
			<li><a href="/server/macosx/">Mac OS X Server</a></li> 
		</ul> 
	</div><!--/dn-colc--> 
	<div id="dn-cold" class="column"> 
		<h3>MobileMe</h3> 
		<ul> 
			<li><a href="/mobileme/">Learn more</a></li> 
		</ul> 
		<h3>Mac OS X</h3> 
		<ul> 
			<li><a href="/macosx/">10.5 Leopard</a></li> 
			<li><a href="/accessibility/macosx/vision.html">Accessibility</a></li> 
		</ul> 
		<h3>QuickTime</h3> 
		<ul> 
			<li><a href="/trailers/">Movie Trailers</a></li> 
			<li><a href="/quicktime/player/">QuickTime Player</a></li> 
			<li><a href="/quicktime/pro/">QuickTime Pro</a></li> 
		</ul> 
	</div><!--/dn-cold--> 
	<div id="dn-cole" class="column"> 
		<h3>Applications</h3> 
		<ul> 
			<li><a href="/ilife/">iLife</a></li> 
			<li><a href="/iwork/">iWork</a></li> 
			<li><a href="/aperture/">Aperture</a></li> 
			<li><a href="/finalcutstudio/">Final Cut Studio</a></li> 
			<li><a href="/finalcutserver/">Final Cut Server</a></li> 
			<li><a href="/finalcutexpress/">Final Cut Express</a></li> 
			<li><a href="/logicstudio/">Logic Studio</a></li> 
			<li><a href="/logicexpress/">Logic Express</a></li> 
			<li><a href="/shake/">Shake</a></li> 
			<li><a href="/remotedesktop/">Remote Desktop</a></li> 
		</ul> 
	</div><!--/dn-cole--> 
	<div id="dn-colf" class="column"> 
		<h3>Developer</h3> 
		<ul> 
			<li><a href="http://developer.apple.com/">Developer Connection</a></li> 
			<li><a href="http://developer.apple.com/products/">Membership Info</a></li> 
			<li><a href="http://guide.apple.com/">Products Guide</a></li> 
		</ul> 
		<h3>Markets</h3> 
		<ul> 
			<li><a href="/pro/">Creative Pro</a></li> 
			<li><a href="/education/">Education</a></li> 
			<li><a href="/science/">Science</a></li> 
			<li><a href="/business/">Business</a></li> 
		</ul> 
	</div><!--/dn-colf--> 
	<div id="dn-colg" class="column last"> 
		<h3>Support</h3> 
		<ul> 
			<li><a href="/buy/">Where can I buy a Mac?</a></li> 
			<li><a href="/support/products/">AppleCare</a></li> 
			<li><a href="/support/">Online Support</a></li> 
			<li><a href="http://store.apple.com/us/help/contact">Telephone Sales</a></li> 
			<li><a href="/retail/personalshopping/">Personal Shopping</a></li> 
			<li><a href="/retail/geniusbar/">Genius Bar</a></li> 
			<li><a href="/retail/workshops/">Workshops</a></li> 
			<li><a href="/retail/onetoone/">One to One</a></li> 
			<li><a href="/retail/procare/">ProCare</a></li> 
			<li><a href="/training/">Certification</a></li> 
		</ul> 
	</div><!--/dn-colg--> 
	<div class="capbottom"></div> 
</div><!--/directorynav--> 
		<p class="gf-buy">Shop the <a href="/store/">Apple Online Store</a> (1-800-MY-APPLE), visit an <a href="/retail/">Apple Retail Store</a>, or find a <a href="/buy/locator/">reseller</a>.</p> 
 
<ul class="gf-links piped"> 
	<li><a href="/about/" class="first">Apple Info</a></li> 
	<li><a href="/sitemap/">Site Map</a></li> 
	<li><a href="/hotnews/">Hot News</a></li> 
	<li><a href="/rss/">RSS Feeds</a></li> 
	<li><a href="/contact/" class="contact_us">Contact Us</a></li> 
	<li><a href="/choose-your-country/" class="choose" title="Choose your country or region."><img src="http://images.apple.com/home/elements/worldwide_us.png" alt="United States" width="22" height="22"></a></li> 
</ul> 
	
<div class="gf-sosumi"> 
	<p>Copyright © 2009 Apple Inc. All rights reserved.</p> 
	<ul class="piped"> 
		<li><a href="/legal/terms/site.html" class="first">Terms of Use</a></li> 
		<li><a href="/legal/privacy/">Privacy Policy</a></li> 
	</ul> 
</div> 
 
 
	</div><!--/globalfooter--> 
	<!-- Start of DoubleClick Spotlight Tag: Please do not remove--> 
	<!-- Activity Name for this tag is:Apple Business Theater page --> 
	<!-- Web site URL where tag should be placed: http://www.apple.com/business/theater/ --> 
	<!-- This tag must be placed within the opening <body> tag, as close to the beginning of it as possible--> 
	<!-- Creation Date:10/20/08 --> 
	<SCRIPT language="JavaScript"> 
	var axel = Math.random()+"";
	var a = axel * 10000000000000;
	document.write('<IFRAME SRC="http://fls.doubleclick.net/activityi;src=1566767;type=apple775;cat=apple206;ord='+ a + '?" WIDTH=1 HEIGHT=1 FRAMEBORDER=0></IFRAME>');
	</SCRIPT> 
	<NOSCRIPT> 
	<IFRAME SRC="http://fls.doubleclick.net/activityi;src=1566767;type=apple775;cat=apple206;ord=1?" WIDTH=1 HEIGHT=1 FRAMEBORDER=0></IFRAME> 
	</NOSCRIPT> 
	<!-- End of DoubleClick Spotlight Tag: Please do not remove--> 
</body> 
</html>