<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>standard.html</title>
	<%= stylesheet_link_tag 'base' %>
	<%= stylesheet_link_tag 'new' %>
	<%= stylesheet_link_tag 'new_nav' %>
	<%= stylesheet_link_tag 'coderay' %>
</head>
<body>
  <div id="wrap">
    <div id="header">
      <div id="logo"></div>
      <div id="sessioninfo">
        <% if current_user %>
          Logged in : <strong><%= current_user.name %></strong>
        <% else %>
          <p class="sosumi">Not logged in</p>
        <% end %>
      </div>
      <div class="clearer"></div>
      <div id="gnav">
        <ul>
          <li><%= link_to 'Bookmarks', bookmarks_path %></li>
          <% if current_user %>
            <li><%= link_to 'Logout', logout_path %></li>
          <% else %>
            <li><%= link_to 'Login', login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="toolbar"></div>
  	<div id="main" class="clearfix">
      <div id="content">
        <%= yield %>
      </div>
  	</div>

  </div>

<div id="footer">
  <span style="float:left">use prb for good, not evil!</span>
  <span>provided by <a href="http://reanstudios.com">Rean Studios</a></span>
</div>

</body>
</html>
